#container {
    background-image: url("../img/layout/background.jpg");
    height: auto;
}

#main-contain {
    margin: 0px auto;
    background-color: white;
}

#container #main-contain #heading {
    box-sizing: border-box;
    background-color: #ff7e00;
    text-align: center;
}

#container #main-contain #heading p {
    font-size: 35px;
    height: 60px;
    padding-top: 15px;
    margin: 5px auto;
    color: #fff;
    font-weight: bold;
}

#container #main-contain #describe {
    border: 1px solid red;
    text-align: center;
    padding: 5px 0px;
    border-radius: 15px;
    font-size: 20px;
}

#container #main-contain form input[type="button"] {
    width: 200px;
    border-radius: 6px;
    border-color: black;
    background-color: #00CC00;
    color: white;
    font-weight: bold;
    font-size: 25px;
}

#comment,#category{
    float:left;
}

#container #feedback #comment #client-comment{
    margin:10px 0px;
    border:1px solid lightgray;
}