#main-contain-test form{
    font-size:18px;
}
#main-contain-test form #part{
    font-size:20px;
    font-weight: bold;
}
#main-contain-test form #question img{
    max-height: 450px;
    max-width: 450px;
}

#button-duoi-cung{
    margin: 0px auto;
}

#listen-btn{
    color:red;
    font-weight: bold;
    background-color: #ffc369;
    width: 150px;
    height: 50px;
    border-radius: 10px;
}


