#container {
    background-image: url("../img/layout/background.jpg");
    height: auto;
}

#main-contain {
    margin: 0px auto;
    background-color: white;
    padding-top:25px;
    padding-bottom:25px;
}

#container #main-contain #heading {
    box-sizing: border-box;
    background-color: #ff7e00;
    text-align: center;
}

#container #main-contain #heading p {
    font-size: 35px;
    height: 60px;
    padding-top: 15px;
    margin: 5px auto;
    color: #fff;
    font-weight: bold;
}

#container #test{
    border:2px solid lightgray;
    margin: 5px auto;
}

#container #main-contain #describe {
    border: 1px solid red;
    text-align: center;
    padding: 5px 0px;
    border-radius: 15px;
    font-size: 20px;
}

#container #main-contain form input[type="button"] {
    width: 200px;
    border-radius: 6px;
    border-color: black;
    background-color: #00CC00;
    color: white;
    font-weight: bold;
    font-size: 25px;
}

#comment,#category{
    float:left;
}

#container #feedback #comment #client-comment{
    margin:10px 0px;
    background-color: #f2f7f9;
}

#container #feedback #comment #client-comment table{
    text-align: left;
}

#container #feedback #comment #client-comment table td{
    padding:10px 10px;
    vertical-align: top;
    box-sizing: border-box;
    border:1px lightgray outset;
}

#container #feedback #comment #client-comment table input[type="submit"]{
    width:50px;
    height:30px;
    margin: 0px auto;
}

#client-comment #user-comment{
    text-align: right;
}

#container #feedback{
    border-top:2px solid lightgray;
    margin: 5px auto;
}

#container #test #ready-stage button{
    color:#ee4b53;
    width:200px;
    margin:0px 10px;
}
#container #test #ready-stage button:hover{
    color:white;
}

#main-contain #feedback #category{
    line-height: 30px;
}

#main-contain #feedback #category ul{
    border:2px solid lightgray;
    margin:10px 0px;
    border-radius: 20px;
}

#main-contain #feedback #category h5{
    text-align: center;
}

#main-contain #feedback #category ul li:not(#tag){
    padding-left:15px;
}

#main-contain #feedback #category ul li a:hover{
    color:#ee8411;
}

#main-contain #feedback #category #tag{
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    background-color:lightblue;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}