/*Trang mô tả đề thi */
#container {
    background-image: url("../img/layout/background.jpg");
    height: auto;
	padding-bottom: 30px;
}

#main-contain {
    margin: 0px auto;
    background-color: white;
    padding-top:25px;
}
/*-------------------*/

/*Trang làm bài thi */
#container-test {
    background-image: url("../img/layout/background.jpg");
    height: auto;
	padding:30px;
}

#main-contain-test {
    margin: 0px auto;
    background-color: white;
	height: 500px; overflow:auto;
	text-align:center;
	padding:15px;
	border-radius:10px;
}

#test-title {
	border-radius:10px;
    margin: 0px auto;
    background-color: white;
	padding:10px;
	margin-bottom: 15px;
	text-transform:uppercase;
	font-weight:bold;
	text-align:center;
}

#test-bottom {
	margin: 0px auto;
	margin-top:10px;
    background-color: #9CF;
	color:white;
	font-size:30px;
	font-weight:bold;
	border-radius:10px;
	padding:10px;
	text-align:center;
}

#test-bottom:hover
{
	background-color: #F3F;
}


#countdown-timer {
	padding: 15px;
	font-size:30px;
	font-weight:bold;
	width: 150px;
	border-radius:10px;
	background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
	margin:auto;
}

/*-------------------*/

#container #main-contain #heading {
    box-sizing: border-box;
    background-color: #ff7e00;
    text-align: center;
}

#container #main-contain #heading p {
    font-size: 35px;
    height: 60px;
    padding-top: 15px;
    margin: 5px auto;
    color: #fff;
    font-weight: bold;
}

#container #test{
    border:2px solid lightgray;
    margin: 5px auto;
}

#container #main-contain #describe {
    border: 1px solid red;
    text-align: center;
    padding: 5px 0px;
    border-radius: 15px;
    font-size: 20px;
}

input[type="button"] {
    width: 300px;
    border-radius: 6px;
    background-color: #00CC00;
    color: white;
    font-weight: bold;
    font-size: 25px;
}

.disabled-button {
	opacity: 0;
    cursor: not-allowed;
}

input[type="button"]:hover {
	background-color:lightblue;
}

#comment,#category{
    float:left;
}

#container #feedback #comment #client-comment{
    margin:10px 0px;
    background-color: #f2f7f9;
}

#container #feedback #comment #client-comment table{
    text-align: left;
}

#container #feedback #comment #client-comment table td{
    padding:10px 10px;
    vertical-align: top;
    box-sizing: border-box;
    border:1px lightgray outset;
}

#container #feedback #comment #client-comment table input[type="submit"]{
    width:50px;
    height:30px;
    margin: 0px auto;
}

#container #feedback{
    border-top:2px solid lightgray;
    margin: 5px auto;
}

#container #main-contain #feedback #user-comment{
    margin: 25px 25px;
    padding: 0px 15px;
    padding-top:15px;
    background-color:#e7e7e7;
}

#container #main-contain #feedback #user-comment form{
    margin-top:10px;
    text-align: right;
}

#container #main-contain #feedback #user-comment input[type="submit"]{
    width:150px;
    border-radius:20px;
    margin-right:25px;
    margin-top:-15px;
}

#container #main-contain #feedback #check-login-comment{
    background-color:#ffe6e9;
    position:relative;
    z-index: 10;
    opacity: 0.7;
    text-align: center;
}

#main-contain #feedback #category{
    line-height: 30px;
}

#main-contain #feedback #category ul{
    border:2px solid lightgray;
    margin:10px 0px;
    border-radius: 20px;
}

#main-contain #feedback #category h5{
    text-align: center;
}

#main-contain #feedback #category ul li:not(#tag){
    padding-left:15px;
}

#main-contain #feedback #category ul li a:hover{
    color:#ee8411;
}

#main-contain #feedback #category #tag{
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    background-color:lightblue;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}