#container{
    background-color: white;
    padding-bottom: 25px;
    padding-top: 25px;
}

#container {
    margin:auto;
    background-color:white;
    height: auto;
    padding-bottom:10px;
}

#container h1{
    text-align: center;
    color:#ff783c;
    font-style: italic;
    text-decoration: underline;
}

#container #items{
    box-sizing: border-box;
    padding:10px 10px;
    display:flex;
    margin:25px auto;
    background-color:#eaeaea;
}

#container #items:nth-child(2n+1){
    background-color: #d6f8ff;
}

#container #items #item-info{
    float:left;
}

#container #items #item-info #img{
    float:left;
    margin-right:15px;
}

#container #items #score{
    height:auto;
    float:right;
    box-sizing: border-box;
}

#container #items #score table{
    width:100%;
    height:100%;
    text-align: center;
    background-color: white;
    border-radius: 20px;
}


#container #items #score img{
    position:relative;
    z-index: 0;
    top:-90px;
    right:10px;
    height: 25px;
}

