table tr td{
    padding: 5px 10px;
}

table thead th{
    text-align: center;
    font-size: 18px;
}

#anhminhhoa-tin img{
    width:200px;
    height:150px;
}

#noidung-tin{
    width:35%;
}
#tomtat-tin{
    width:15%;
}
#tieude-tin{
    width:10%;
}

#noidung-tins{
    height:150px;
    overflow: auto;
}

#news-table{
    background-color: white;
    width: 100%;
}
